* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
main {
    display: flex;
}

body {
    
     background: content-box radial-gradient(pink, rgb(247, 239, 243));
}

nav {
    position: relative;
}

.aNav {
    display: inline-block;
    background-color: rgb(198, 2, 96);
    color: white;
    padding: 5px 10px;
    border: 1px solid rgb(138, 8, 34);
    
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(176, 4, 87);
    
}
.bText {
    font-size: 120px;
    color: aliceblue;
}

.sectionF {
    display: flex;
    align-items: center;
}

.search {
    width: 30px;
}
.card-group {
    display: flex;
    margin-bottom: 150px;
    margin-top: 70px;
    padding: 10px;
    align-content:space-between ;
}

form {
    display: flex;
    align-content: space-around;
    margin-right: 20px;
}

label{
    margin-right: 20px;
    margin-left: 10px;
    border-color: crimson;
    border: 5px;
}

div>img {
    height: 180px;
}

.card-group {
    border: 20px;
    background-color: pink;
}
.card-body {
    background-color: #f3a6b3;
}
footer {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.social {
    display: flex;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    
}
div >.aSocial{
width: 50%;
height: 50px;
display:flex ;
}

h2 {
    margin: 20px;
}

.contactSect {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.btn {
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: flex-end;
    align-content: flex-end;
    
}

div .ver {
    background-color: rgb(240, 130, 147);
    display: flex;
    align-items:center ;
    justify-content: center;
    padding: 7px;
    border: 1px solid rgb(73, 2, 16);
    color: antiquewhite;
    width: 100px;
}

table{
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(176, 4, 87);
}

thead {
    border: 1px solid rgb(176, 4, 87) !important;
    background-color: rgb(240, 130, 147);
    padding: 20px;
    color: antiquewhite;
}
tbody {
    border: 1px solid rgb(176, 4, 87) !important;
    padding: 20px !important;
    margin: 20px !important;
}
tr{
    border: 1px solid rgb(176, 4, 87) !important;
    padding: 20px;
    margin: 20px;
}
th{
    border: 1px solid rgb(176, 4, 87) !important;
    width: 1500px;
}
td{
    border: 1px solid rgb(176, 4, 87) !important;
    padding: 10px;
    margin: 10px;
    
}

.detailsSec {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-top: 30px;
    background-color: #f3a6b3;
    
    
}

.card2 {
    display: flex;
    height: 300px;
    width: 300px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    border: 5px;
    background-color: #dc5269;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body{display: flex;
    flex-direction: column;}
    section{
        display: flex;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    footer img{
        display: flex;
        height: 50px;
        width: 50px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
    }
   
    div{
        display: flex;
        flex-direction: column;
    }
    footer img{
        display: flex !important;
        justify-content: space-around;
        height: 50px;
        width: 50px ;
        flex-direction: row !important;
    }
    .card-group{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        display:flex
    }
    .card{
        display: flex;
    }
    
    .card>img{
        display: flex !important;
         flex-direction: column !important;
        flex-wrap: wrap !important;
        
    }
.card-group>.card{
    display: flex;
    flex-wrap: wrap-reverse;
    
}
    }

@media only screen and (min-width: 1024px) and (max-width: 1339px) {
*{
display: flex;
}
}